<!DOCTYPE html>
{% macro csrf_input() %}
    <input type="hidden" value="{{ _csrf_code }}" name="_csrf_code"/>
{% endmacro %}
{% macro form_input(label,property,value,error_msg) %}
    <div class="form-group {{ ' has-error' if error_msg }}">
        <label for="{{ property }}Input"
               class="control-label">{{ label }} </label>
        <input id="{{ property }}Input" type="text" class="form-control" name="{{ property }}"
               value="{{ value }}"/>
        {% if error_msg %}<span class="help-block">{{ error_msg }}</span>{% endif %}
    </div>
{% endmacro %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Learning Game Development{% endblock %}</title>
    <link rel="stylesheet" href="/static/principal.css"/>
    <link rel="stylesheet" href="/static/mobile.css"/>
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
</head>
<body>

<header>
    <h1>Learning Game Development</h1>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Games</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
</header>

    {% block body %}
    {% endblock %}

<footer>
    <p>
    <a href="http://www.guidopercu.com.br/">GuidoPercu</a> | <a href="http://www.github.com/GuidoBR/learning-game-development/">Github</a>
    </p>
</footer>

</body>
</html>
