<!DOCTYPE html>
{% macro csrf_input() %}
    <input type="hidden" value="{{ _csrf_code }}" name="_csrf_code"/>
{% endmacro %}
{% macro form_input(label,property,value,error_msg) %}
    <div class="form-group {{ ' has-error' if error_msg }}">
        <label for="{{ property }}Input"
               class="control-label">{{ label }} </label>
        <input id="{{ property }}Input" type="text" class="form-control" name="{{ property }}"
               value="{{ value }}"/>
        {% if error_msg %}<span class="help-block">{{ error_msg }}</span>{% endif %}
    </div>
{% endmacro %}
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Learning Game Development{% endblock %}</title>
    <link rel="stylesheet" href="/static/principal.css"/>
    <link rel="stylesheet" href="/static/mobile.css"/>
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
</head>
<body>

<header>
    <h1>Learning Game Development</h1>
    <nav>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Games</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>
</header>

<section class="highlight">
    <div>
        <h1>HTML5 and Javascript games</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, natus est sit sunt ipsam deleniti modi eligendi.</p>
    </div>
</section>

<section class="games">
    <div class="container">
        <h2>Laborum rem facilis maximie nostrum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, rem, facilis, maxime nostrum asperiores molestiae eum dolor voluptatum ab officiis distinctio.</p>

        <div class="game">
            <h3>Game #1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, debitis, at alias fugiat optio aliquam accusamus accusantium enim soluta aspernatur vero sed aperiam quasi porro cum nihil adipisci aut mollitia.</p>
            <a href="#" class="btn">Play it now!</a>
        </div>

        <div class="game">
            <h3>Game #2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, debitis, at alias fugiat optio aliquam accusamus accusantium enim soluta aspernatur vero sed aperiam quasi porro cum nihil adipisci aut mollitia.</p>
            <a href="#" class="btn">Play it now!</a>
        </div>


        <div class="game">
            <h3>Game #3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, debitis, at alias fugiat optio aliquam accusamus accusantium enim soluta aspernatur vero sed aperiam quasi porro cum nihil adipisci aut mollitia.</p>
            <a href="#" class="btn">Play it now!</a>
        </div>

        <div class="game">
            <h3>Game #4</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, debitis, at alias fugiat optio aliquam accusamus accusantium enim soluta aspernatur vero sed aperiam quasi porro cum nihil adipisci aut mollitia.</p>
            <a href="#" class="btn">Play it now!</a>
        </div>

        <div class="game">
            <h3>Game #5</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, debitis, at alias fugiat optio aliquam accusamus accusantium enim soluta aspernatur vero sed aperiam quasi porro cum nihil adipisci aut mollitia.</p>
            <a href="#" class="btn">Play it now!</a>
        </div>

        <div class="game">
            <h3>Game #6</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, debitis, at alias fugiat optio aliquam accusamus accusantium enim soluta aspernatur vero sed aperiam quasi porro cum nihil adipisci aut mollitia.</p>
            <a href="#" class="btn">Play it now!</a>
        </div>
    </div>
</section>

<section id="technology">
    <div class="container">
        <h2>Laborum rem facilis maximie nostrum</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, rem, facilis, maxime nostrum asperiores molestiae eum dolor voluptatum ab officiis distinctio.</p>

        <div class="more-info">
            <figure>
                <img src="img/img1.jpg" alt="">
            </figure>
            <h3>HTML5</h3>
            <p>Consectetur adipisicing elit. Asperiores dolore quisquam eum ducimus officiis odio ipsum modi.</p>
            <a href="#" class="more-lnk">Um link de chamada para a página</a>
        </div>
        <div class="more-info">
            <figure>
                <img src="img/img2.jpg" alt="">
            </figure>
            <h3>Javascript</h3>
            <p>Consectetur adipisicing elit. Asperiores dolore quisquam eum ducimus officiis odio ipsum modi.</p>
            <a href="#" class="more-lnk">Um link de chamada para a página</a>
        </div>
    </div>
</section>

<section id="sobre">
    <div class="container">
        <img src="img/img3.jpg" alt="">
        <div class="text">
            <h1>Website Responsive Web Design Layout</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, animi rerum cupiditate tenetur quod illo facere molestias explicabo cumque dicta magni est qui distinctio esse officiis inventore voluptas harum quos.</p>
        </div>
    </div>
</section>

<footer>
    <p>
    <a href="http://www.guidopercu.com.br/">GuidoPercu</a> | <a href="http://www.github.com/GuidoBR/learning-game-development/">Github</a>
    </p>
</footer>

</body>
</html>
