{% extends 'base/base.html' %}
    {% block body %}
        <section class="highlight">
            <div>
                <h2>HTML5 and Javascript games</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, natus est sit sunt ipsam deleniti modi eligendi.</p>
                <a href="#" class="btn">Button!</a>
            </div>
        </section>

        <section id="technology">
            <div class="container">
                <h2>Laborum rem facilis maximie nostrum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, rem, facilis, maxime nostrum asperiores molestiae eum dolor voluptatum ab officiis distinctio.</p>

                <div class="more-info">
                    <figure>
                        <img src="/static/img/html5_css3.png" alt="HTML 5 and CSS 3 Logos">
                    </figure>
                    <h3>HTML5</h3>
                    <p>Consectetur adipisicing elit. Asperiores dolore quisquam eum ducimus officiis odio ipsum modi.</p>
                    <a href="#" class="more-lnk">Um link de chamada para a página</a>
                </div>
                <div class="more-info">
                    <figure>
                        <img src="/static/img/js-logo.svg" alt="Javascript Logo">
                    </figure>
                    <h3>Javascript</h3>
                    <p>Consectetur adipisicing elit. Asperiores dolore quisquam eum ducimus officiis odio ipsum modi.</p>
                    <a href="#" class="more-lnk">Um link de chamada para a página</a>
                </div>
            </div>
        </section>

        <section id="about">
            <div class="container">
                <img src="/static/img/game-development.jpg" alt="">
                <div class="text">
                    <h2>Website Responsive Web Design Layout</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, animi rerum cupiditate tenetur quod illo facere molestias explicabo cumque dicta magni est qui distinctio esse officiis inventore voluptas harum quos.</p>
                </div>
            </div>
        </section>


    {% endblock %}
