{% extends 'base/base.html' %}
    {% block body %}
        <section class="highlight">
            <div>
                <h2>HTML5 and Javascript games</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, natus est sit sunt ipsam deleniti modi eligendi.</p>
                <a href="#" class="btn">Button!</a>
            </div>
        </section>

        <section class="games">
            <div class="container">
                <h2>Games and Animations</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, rem, facilis, maxime nostrum asperiores molestiae eum dolor voluptatum ab officiis distinctio.</p>

                <div class="game">
                    <h3>Game #1</h3>
                    <p>Fighting game, made with javascript and HTML5 Canvas</p>
                    <a href="game1" class="btn">Play it now!</a>
                </div>

                <div class="game">
                    <h3>Game #2</h3>
                    <p>Solar system animation, based on <a href="http://fabricjs.com/solar-system/" title="Fabric Solar System">FabricJS</a>.</p>
                    <a href="#" class="btn">Play it now!</a>
                </div>


                <div class="game">
                    <h3>Game #3</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, debitis, at alias fugiat optio aliquam accusamus accusantium enim soluta aspernatur vero sed aperiam quasi porro cum nihil adipisci aut mollitia.</p>
                    <a href="#" class="btn">Play it now!</a>
                </div>

                <div class="game">
                    <h3>Game #4</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, debitis, at alias fugiat optio aliquam accusamus accusantium enim soluta aspernatur vero sed aperiam quasi porro cum nihil adipisci aut mollitia.</p>
                    <a href="#" class="btn">Play it now!</a>
                </div>

                <div class="game">
                    <h3>Game #5</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, debitis, at alias fugiat optio aliquam accusamus accusantium enim soluta aspernatur vero sed aperiam quasi porro cum nihil adipisci aut mollitia.</p>
                    <a href="#" class="btn">Play it now!</a>
                </div>

                <div class="game">
                    <h3>Game #6</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, debitis, at alias fugiat optio aliquam accusamus accusantium enim soluta aspernatur vero sed aperiam quasi porro cum nihil adipisci aut mollitia.</p>
                    <a href="#" class="btn">Play it now!</a>
                </div>
            </div>
        </section>

        <section id="technology">
            <div class="container">
                <h2>Laborum rem facilis maximie nostrum</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, rem, facilis, maxime nostrum asperiores molestiae eum dolor voluptatum ab officiis distinctio.</p>

                <div class="more-info">
                    <figure>
                        <img src="/static/img/html5_css3.png" alt="HTML 5 and CSS 3 Logos">
                    </figure>
                    <h3>HTML5</h3>
                    <p>Consectetur adipisicing elit. Asperiores dolore quisquam eum ducimus officiis odio ipsum modi.</p>
                    <a href="#" class="more-lnk">Um link de chamada para a página</a>
                </div>
                <div class="more-info">
                    <figure>
                        <img src="/static/img/js-logo.svg" alt="Javascript Logo">
                    </figure>
                    <h3>Javascript</h3>
                    <p>Consectetur adipisicing elit. Asperiores dolore quisquam eum ducimus officiis odio ipsum modi.</p>
                    <a href="#" class="more-lnk">Um link de chamada para a página</a>
                </div>
            </div>
        </section>

        <section id="about">
            <div class="container">
                <img src="/static/img/game-development.jpg" alt="">
                <div class="text">
                    <h2>Website Responsive Web Design Layout</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, animi rerum cupiditate tenetur quod illo facere molestias explicabo cumque dicta magni est qui distinctio esse officiis inventore voluptas harum quos.</p>
                </div>
            </div>
        </section>


    {% endblock %}
